@import "~FrontEndTheme/scss/variables_milken";

milken-menu-main {
  position: fixed;
  z-index: 998;
  left: 0;
  right: 0;
  top: 74px;
  display:none;
  background-color: $backgroundLight;

  &.d-flex {
    bottom: 0;
  }

  menu-column {
    padding: 15px;

    @media (min-width: ($breakpointTablet)) {
      padding: 30px 0 30px 30px !important;
    }

    @media (max-width: ($breakpointTablet)) {

      position: relative;
    }

    h5 {
      color: $backgroundLittleBitDarker;
      text-transform: uppercase;
      font-size: 18px;
      @media (max-width: ($breakpointTablet)) {
        font-size: 20px;
      }
    }
    // .right-column {
    //   padding-top: 5px;
    // }
    ul {

      list-style: none;
      padding-left: 0px;
      padding: 0;
      margin: 0;
      color: rgba(255, 255, 255, 0);

      li {
        padding-top: 8px;
        list-style-image: none;

        @media (max-width: $breakpointPhone) {
          padding-top: 1px;
        }

      }
      h6 {
        a {
          text-decoration: none;
          font-size: 17px;
          color: $grayFont;
          font-weight: bold;
          color: $grayFont;
          @media (max-width: ($breakpointTablet)) {
            font-size: 20px;
          }
        }
      }
      h4 {
        margin: 0;
        a {
          text-decoration: none;
          font-size: 14px;
          color: $orangeButtons;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      p {
        color: $grayFont;
        margin-top: -10px;
      }
    }
  }
}
