{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": "last 2 Chrome versions",
        "node": "current"
      }
    }],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/transform-runtime"
  ]
}
