{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": "last 2 Chrome versions",
        "node": "current"
      }
    }],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
