html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: $font-family-base;
  overflow-x: hidden;
}
html {
  overflow-y: auto;
}
body {
  overflow-y: hidden;
}

.hide-from-tablet {
  @media (max-width: $breakpointTablet) {
    display: none;
  }
}
.show-from-tablet {
  display: none;
  @media (max-width: $breakpointTablet) {
    display: block;
  }
}


#main-wrapper {
  margin-top: 64px;
  @media (min-width: ($breakpointPhone + 2px)) {
    margin-top: 76px;
  }
}





