$color-blue: #001f5f;
$color-lightblue: #2196f3;

$color-green: #00aea4;
$color-lightgreen: #00d2b5;

$color-orange: #e94d1c;
$color-darkorange: #cc3304;

$color-gray: #ccc;
$color-lightgray: #dbdbdb;


body.page-view-event-pages {
    scroll-behavior: smooth;
    background: #f1f5f7;
    color: #3e4d5c;
    direction: ltr;
    font-weight: 400;

    @media (min-width: 1300px) {
      .container {
        max-width: 1200px;
      }
    }
}

body.event-pages-smaller-font {
    font-size: 13px;
}

#events {
    width: 100%;

    .btn-warning {
        padding: 7px 14px;
        background-color: $color-orange;
        color: #fff;
        font-size: 14px;
        border-color: $color-orange;
        border-radius: 0;
        &:hover {
            background-color: $color-darkorange;
        }
    }

    .format-select-box {
        label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: right;
        }
        select {
            font-size: 14px;
            height: 32px;
            &:hover,
            &:active,
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }

    .search-bar {
        h5 {
            text-align: center;
            font-size: 15px;
            font-weight: 700;
        }
        .search-input-box {
            display: flex;
            align-items: center;
            border: 1px solid $color-lightgray;
            svg {
                fill: $color-gray;
                display: block;
                position: absolute;
                margin: 8px;
                z-index: 3;
                width: 16px;
            }
            input {
                padding-left: 33px;
                border-color: #dbdbdb;
                color: #777;
                font: 14px Arial, sans-serif;
                border-radius: 0;
                box-shadow: none;
                flex: 1;
                height: 34px;
                border: none;
                color: #212529;
                &::placeholder {
                    color: $color-gray;
                }
            }
        }
        .search-terms-box {
            display: flex;
            justify-content: space-between;
            span {
                margin-right: 24px;
                padding: 4px 8px;
                background-color: #f1f5f7;
                border: 1px solid $color-gray;
                border-radius: 4px;
                svg {
                    fill: #3e4d5c;
                }
            }
        }
    }

    .filter-box {
        margin-bottom: 50px;
        border: 1px solid $color-lightgray;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #b9b9b9;
        .filter-header {
            padding: 10px;
            border-bottom: 1px solid $color-lightgray;
            display: flex;
            justify-content: space-between;
            h6 {
                margin-bottom: 0;
                font-weight: bold;
                font-size: 20px;
            }
            .filter-actions {
                span {
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        color: $color-orange;
                    }
                }
            }
        }
        .filter-row {
            padding: 10px;
            display: flex;
            border-top: 1px solid $color-lightgray;
            font-size: 14px;
            font-weight: bold;
            span {
                margin-left: 10px;
            }
        }
        .collapse-toggler {
            svg {
                width: 22px;
                height: 22px;
                fill: #3e4d5c;
            }
        }
    }

    .tick-select {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        min-width: 22px;
        height: 22px;
        margin-right: 14px;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid $color-lightgray;
        svg {
            display: none;
        }
        &.selected {
            background-color: $color-orange;
            border: none;
            svg {
                fill: #fff;
                display: block;
                width: 12px;
                height: 12px;
            }
        }
    }

    .programday-list {
        .programday-container {
            margin-bottom: 24px;
            .program-day-header {
                display: flex;
                padding: 12px 0 10px;
                cursor: pointer;
                h4 {
                    font-size: 20px;
                    font-weight: bold;
                }
                .program-day-toggler {
                    margin-right: 10px;
                    svg {
                        fill: $color-orange;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .programday-sessions-container {
                border: 1px solid $color-lightgray;
                .programday-session {
                    padding: 16px;
                    border-top: 1px solid $color-lightgray;
                    background-color: #fff;
                    h5 {
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .btn {
                        margin-left: 20px;
                        min-width: 120px;
                        padding: 0;
                        color: $color-orange;
                        font-size: 16px;
                        &:hover,
                        &:focus,
                        &:active {
                            outline: none;
                            box-shadow: none;
                            text-decoration: underline;
                            color: $color-darkorange;
                        }
                    }
                    .profile-summary {
                        margin-bottom: 20px;
                        font-size: 15px;
                        .avatar-wrapper {
                            margin: auto;
                            width: 80px;
                            height: 80px;
                            position: relative;
                            img {
                                top: 0;
                                object-fit: cover;
                                object-position: center;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        a {
                            display: block;
                            margin-bottom: 10px;
                            color: $color-orange;
                        }
                    }
                }
            }
        }
    }
}
