/*** BEGIN - HEADER MENU BLOCKS STYLES (FORMS & SOCIAL) ***/
.only-header-links {
  #edit-actions {
    width: 100% !important;
    float: none !important;
  }

  .form-item-email-address {
    width: 100% !important;
    float: none !important;
    input {
      border-radius: 0px !important;
      @media (max-width: $breakpointTablet) {
        margin-bottom: 0px;
      }
    }
  }

  button {
    border-radius: 0px !important;
  }

  .webform-submission-newsletter-block_content-7-add-form {
    border: 0px !important;
    margin: 0px !important;
    padding: 0px;
    width: 100% !important;
  }

  #edit-markup {
    font-size: 14px !important;
    font-weight: normal !important;
  }

  #edit-markup-01 {
    display: none !important;
  }

  p {
    color: $backgroundLight;
  }

  input {
    border: 0px;
    background-color: $backgroundDarkest;
    padding: 10px;
    width: 60%;
    margin-right: -3px;
  }

  a {
    color: $lightTitle;
    font-size: 12px;
    font-weight: bold;
    background-color: $orangeButtons;
    padding: 13px;
    vertical-align: middle;
    line-height: 42px;
    text-decoration: none;
    text-transform: uppercase;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: $breakpointPhone) {
    padding-left: 52px;
  }

}
.inner-wrapper {
  display: flex;
  justify-content: space-between;
  @media (max-width: $breakpointPhone) {
    flex-direction: column;
  }
}
.page-node-type-homepage, .panel-about-us {
  .upcoming-events {
    .inner-wrapper {
      max-width: 1400px;
      margin: 0 auto;
    }
  }

  .upcoming-events-left {
    min-width: 400px;
    //margin-right: 25px;
    @media (max-width: $breakpointTablet) {
      min-width: 200px;
    }
    @media (max-width: $breakpointPhone) {
      //display: none;
    }
  }
  .upcoming-events-right {
    @media (max-width: $breakpointPhone) {
      width: 100%;

      .view-content {
        display: flex;
        flex-wrap: wrap;

        .views-row {
          width: 50%;
          padding: 5px;

          > div {
            display: block;
          }

          .row {
            margin: 0;
          }

          .bkg-center-slider {
            height: 30vw;
          }

          .info-center-container {
            padding: 0;

            > div {
              display: grid;
              position: relative;
              a {
                bottom: 0;
                background-color: #f1f4f6;
                display: inline-table;
                color: black;
                font-size: 14px;
                font-family: Lato;
                font-weight: 900;
                letter-spacing: 0;
                line-height: 22px;
                padding: 10px;
                position: absolute;
                text-align: center;
                text-transform: none;
                width: 100%;

                @media (max-width: $breakpointPhone) {
                  line-height: 18px;
                  padding: 5px;
                  .nodetitlecustom {
                    display: table-cell;
                    vertical-align: middle;
                  }
                }
              }
            }

            h6, div > div {
              display: none;
            }
          }
        }
      }
    }
  }
}
.inner-nav-cts {
  h6 {
    padding-top: 10px;
    letter-spacing: 2px;
  }
}
/*** END - HEADER MENU BLOCKS STYLES (FORMS & SOCIAL) ***/


.user-logged-in {
  header {
    // logged
    .menu-site-main {
      margin-bottom: -85px !important;
    }
  }
}


header#header {
  position: fixed;
  top: 0;
  max-height: 100vh;
  height: 64px;
  display: table;
  padding: 0 20px;
  width: 100%;
  overflow:hidden;
  z-index: 6;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px 0 #d7dbdd;
  -moz-box-shadow: 0 1px 4px 0 #d7dbdd;
  box-shadow: 0 1px 4px 0 #d7dbdd;

  h1 { display:none; }
  .menu-site-main {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -11px;
  }
  img#site-logo {
    width: 50%;
    max-width: none;
    @media (min-width: $breakpointTablet) {
      max-width: 280px;
      max-height: 54px;
      width: 160%;
    }
    @media (max-width: $breakpointPhone) {
      max-width: 280px;
      width: 280px;
      height: auto;
    }
    @media (max-width: $breakpointTablet) {
      margin-top: 2px;
    }
  }

  @media (min-width: ($breakpointPhone + 2px)) {
    height: 76px;
    padding: 0 20px;
    display: table;
  }

  .menu-main-container {
    display: flex;
    &.scrolled-nav {
      .mainlogohiddenoncenter{
        transform: scale(0.9);
        -webkit-transition: transform .5s;
        transition: transform .5s;
        transform-origin: top left;
      }


      .input-group {
        @media (min-width: $breakpointPhone + 2px) {
          input{
            transform: scale(0.9);
            margin-top: 0px;
            margin-right: 0px;
            -webkit-transition: opacity .5s,height .5s;
            transition: opacity .5s,height .5s;
          }
        }
      }

      .hamburguer-menu {
        @media (min-width: $breakpointPhone + 2px) {

        transform: scale(0.9);
        }
        margin-top: 10px;
        -webkit-transition: transform .5s;
        transition: transform .5s;
      }
    }
  }

  &.header-unpin {
    transform: translateY(-75px);
    @media (max-width: $breakpointTablet) {
      transform: translateY(-132px);
    }
  }


  &.header-pin {
    transform: translateY(0);
  }
  + * {
    padding-top: 64px;
    @media (min-width: ($breakpointPhone + 2px)) {
      padding-top: 76px;
    }
  }
}



@media (min-width: $breakpointTablet) {
  .ui-widget.ui-widget-content {
    top: 70px !important;
    border-radius: 2px;
    border:none;
    -webkit-box-shadow: 1px 0px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 17px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 17px -3px rgba(0,0,0,0.75);
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    z-index: 99999;

    .ui-menu-item{
      font-family: 'LatoWeb';
      font-size: 18px;
      font-weight: 500;
      color: #404040;
      line-height: 22px;
    }
  }
}

body.toolbar-fixed {
  header#header {
    top: 39px;
  }
}

.form-type-search-api-autocomplete {

  .input-group {
    display: table;
    border-collapse: separate;
    width: 90%;
    font-size: 16px;
    right: 0px;

    @media (max-width: $breakpointPhone) {
      right: 12px;
    }
    -webkit-transition: all 0.5s, background-position 1ms; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s, background-position 1ms;
    position: absolute;
    top: 0;

    bottom: 0;
    margin: auto;

    input {
      font-size: 16px;
      color: #252d32;
    }
  }


  .user-is-searching {
    @media (min-width: $breakpointTablet) {
      width: 95%;
    }
    @media (max-width: $breakpointTablet) {
      width: 150%;
    }

    @media (min-width: $breakpointTablet) {
      .ui-autocomplete-input{
        width: 90%;
        max-width: 800px;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }
    }

  }

}


div.hamburguer-menu.perfectly-centered {
  transition: all 0.5s ease;
  margin-top: 10px;
}
header .hamburguer-menu::after, header .hamburguer-menu-centers:after {
  line-height: 40px;
}
#views-exposed-form-search-page{
  height:40px;
}
.searchform-header .form-type-search-api-autocomplete {

  @media (max-width: $breakpointPhone+1){
    display: block;
    width:85%;
  }
  @media (min-width: $breakpointPhone){
    width:80%;
    height: 55px;
  }
  margin-bottom: 0px;
  height: 55px;
  overflow:hidden;
  background: white;
  width: 80%;
}
.searchform-header .form-type-search-api-autocomplete .input-group {
  overflow:hidden;
  position:relative;
  top:13px;
  input {
    -webkit-transition: all 0.5s ease, background-position 1ms;
    transition: all 0.5s ease, background-position 1ms;
    margin-top: 0px;
  }
}


/*  NAVBAR > Resize elements after scroll  */
#menu-sticky-main {
  @media (max-width: $breakpointTablet) {

    .close-search{
      right: 60px;
    }
  }
}
#menu-sticky-main.scrolled-nav,
.menu-main-container.scrolled-nav {
  transition: opacity 0.5s ease;
  height: 68px;
  @media(min-width: $breakpointTablet){
    #menu-sticky-main.scrolled-nav .searchform-header .form-type-search-api-autocomplete .input-group, .menu-main-container.scrolled-nav .searchform-header .form-type-search-api-autocomplete .input-group {
      margin-top: 3px;
    }
  }

  @media (max-width: $breakpointTablet) {
    height: 60px;
  }

  div.hamburguer-menu.perfectly-centered {
    @media (min-width: $breakpointPhone+2) {
      margin-top: 0px;
    }
  }

  @media (min-width: $breakpointPhone) {

    .close-search{
      top: 0px;
      transform: scale(0.9);
      -webkit-transition: all .5s ease-out;
      transition: all .5s ease-out;
    }
    .searchform-header .form-type-search-api-autocomplete .input-group {
      /*right: 120px;*/
      margin-top: 0px;
      top:0px;
      margin-bottom: 0px;
    }
  }

    @media (min-width: $breakpointTablet) {

          .close-search{
            top: 3px;}
    }



}
.search-api-autocomplete-suggestion{
  text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
}
.search-api-autocomplete-search .ui-menu-item-wrapper.ui-state-active .search-api-autocomplete-suggestion{
  background:transparent;
  color:inherit;
}
