#hub-philanthropy_hub {

  .philanthropy-hub-root {
    .card {
      background: #fff;
      border-radius: 0;
      color: #666;
      box-shadow: 0 5px 15px rgba(0,0,0,.08);
      border: 1px solid #EFEFEF;

      &-body {
        padding: 2rem;
      }

      &-footer {
        border-radius: 0;
        border-top: 0;
      }

      &-title {
        @media(min-width: 700px) {
          font-size: 1.8rem;
        }
        color: #000;
        margin-bottom: 1.5rem;
      }
    }

    .badge {
      line-height: 1.8em;
      padding-left: 1em;
      padding-right: 1em;
      margin-right: 0.33em;
      margin-bottom: 0.33em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    .list-component {

      @media (min-width: 1400px) {
          column-count: 4;
          -webkit-column-count: 4;
          -moz-column-count: 4;
      }

      @media (min-width: 576px) and (max-width: 1024px) {
          column-count: 2;
          -webkit-column-count: 2;
          -moz-column-count: 2;
      }
    }
  }

  .title-dropdown {

    .dropdown {
      display: inline-block;
      > * {
        font-size: 2.5rem;
      }

      > span {
        top: 0.375rem;
        position: relative;
      }
    }

    .dropdown-menu {
      min-width: 100%;
    }


  }

}
