

<div id="hub-data">
  <script type="application/json" data-drupal-selector="drupal-hub-json">{
    "id": "{{ view.id }}",
    "url": "/jsonapi/node/opportunity?jsonapi_include=true&include=field_region,field_focus,field_terms,field_actions",
    "entityTypeId": "node"
    }</script>
</div>

<div id="hub-component"></div>
